#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body {
  padding: 40px 20px;
}

.bread-wrapper {
  margin-bottom: 50px;
}

.el-upload-dragger {
  width: unset;
  height: unset;
  border: 0;
}
